<a class="btn-add" href="/tigers/new"><button type="button" class="btn btn-success ">Add a Lion</button></a>
<div class="lions">
  {{#each lions}}
  <div class="tiger">
    <h3>{{this.name}}</h3>
    <p>Age: {{this.age}}</p>
    <p>Gender: {{this.gender}}</p>
    <p>Pride: {{this.pride}}</p>
    <a href= "/lions/{{this.id}}/edit"><button type="button" class="btn btn-warning">Edit or Delete</button></a>
  </div>
  {{/each}}
</div>
